/* img {
  width: 100%;
}

.feature__image {
  width: 250px;
  height: 100px;
  background-image: url('https://placehold.co/400');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(86, 181, 80, 0.505);
} */

/* h1 {
  color: blue;
} */
